<div class="container-fluid" id="sobre">
  <div class="container ">
    <div>
      <!--<h1>O que é o STan?</h1>-->
      <br>
      <em><h3 class="sobre-h3">Sobre o STAN</h3></em>
      <p>Oferecemos um sistema de gestão de frotas nomeado Stan como um
      SaaS (Software como um Serviço) uma alternativa diferente e inovadora no
      mercado que atenderá empresas que necessitem controlar suas frotas.</p>
      <p>Um software que irá facilitar algumas questões que dificultam o controle
      de gastos da empresa contratante da solução, será oferecido pacotes com
      limites de acesso e opções que o contratante do software possa ou não optar.</p>
      <p>Isso irá variar do seu fluxo de negócio e sua necessidade.</p>
      <p>Dependendo da escolha feita pelo o cliente ele pode adquirir aos
      seguintes hardwares o Voice Driver e ao Fast Parking, que irão facilitar o trajeto
      do motorista em suas viagens, os hardwares podem ser inseridos dentro do
      veículo.</p>
    </div>
  </div>
</div>
