h1{
  color: #56c0ff;
  font-family: American Typewriter, serif;
}
.sobre-h3{
  color: #56c0ff;
  position: relative;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
#sobre{
  padding-top: 3%;
}
