<div class="container-fluid" id="sobre">
    <div class="container ">
        <div>
          <h2>Conheça mais sobre nosso trabalho</h2>
          <br>
          <h3>Sobre o Stan</h3>
          <p>Oferecemos um sistema de gestão de frotas nomeado Stan como um
            SaaS (Software como um Serviço) uma alternativa diferente e inovadora no
            mercado que atenderá empresas que necessitem controlar suas frotas.</p>
          <p>Um software que irá facilitar algumas questões que dificultam o controle
            de gastos da empresa contratante da solução, será oferecido pacotes com
            limites de acesso e opções que o contratante do software possa ou não optar.</p>
          <p>Isso irá variar do seu fluxo de negócio e sua necessidade.</p>
          <p>Dependendo da escolha feita pelo o cliente ele pode adquirir aos
            seguintes hardwares o Voice Driver e ao Fast Parking, que irão facilitar o trajeto
            do motorista em suas viagens, os hardwares podem ser inseridos dentro do
            veículo.</p>
            <h3>Voice Driver</h3>
            <p>Um hardware que servirá como um copiloto para o motorista, o pequeno
              aparelho é inserido no veículo e se comunica com um sistema de roteirização,
              sem necessidade de internet ele emite alertas de contingência quando o
              motorista se desviar de sua rota e avisa quando houver alterações
              recomendadas no percurso. O hardware funciona com um comando de voz, ou
              seja, não a necessidade de o motorista tirar suas mãos do volante.
              </p>
              <h3>Fast Parking </h3>
              <p>É um hardware que agiliza o trajeto do motorista como um “Sem Parar”,
                liberando cancelas de estacionamentos e passando por pedágios, podendo
                assim chegar mais rápido ao cliente que irá atender e sem a necessidade de
                sair do veículo. O hardware é ligado ao veículo e possui uma conexão com o
                sistema que se localiza na central, neste caso o software Stan
                automaticamente contabilizar o gasto enviando para parte de finanças do
                sistema, podendo assim gerar relatórios de custo.
                </p>
        </div>
    </div>
  </div>
  