<!--
File: multas.component.html
Author: Carol Freitas
Create Date: 18/10/2019
Description: Responsável por mostrar dados da tela de multas.
-->

<app-header-sistema></app-header-sistema>
<div class="container multas">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          <img src="../../../assets/img/multas.png"> Multas
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
              <div class="col-md-12">
                <nav class="menu-opcoes">
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-form-tab" data-toggle="tab"  href="#nav-form" role="tab" aria-controls="nav-form" aria-selected="true">Dados da Infração</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-relatorio" role="tab" aria-controls="nav-relatorio" aria-selected="false">Relatório</a>
                  </div>
                </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-form" role="tabpanel" aria-labelledby="nav-home-tab">
                  <form id="form">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="id">ID:</label>
                        <input type="text" class="form-control" id="id" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="cod-multa">Código da Multa:</label>
                        <input type="number" class="form-control" id="cod-multa" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="data-infracao">Data da Infração:</label>
                        <input type="date" class="form-control" id="data-infracao" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="hora-infracao">Hora da Infração:</label>
                        <input type="time" class="form-control" id="hora-infracao" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="orgao-autuador:">Órgão Autuador:</label>
                        <input type="text" class="form-control" id="orgao-autuador" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="infrator">Infrator</label>
                        <input type="text" class="form-control" id="infrator" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="valor-multa">Valor da Multa</label>
                        <input type="text" class="form-control" id="valor-multa" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="gravidade">Grávidade</label>
                        <input type="number" class="form-control" id="gravidade" aria-describedby="id">
                      </div>
                    </div>

                    <div>
                      <h2>Informações do Veículo</h2>
                      <div class="form-group col-md-6">
                        <label for="veiculo">Veículo:</label>
                        <input type="text" class="form-control" id="veiculo" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="marca">Marca:</label>
                        <select class="custom-select">
                          <option selected>Marca</option>
                          <option value="1">Audi</option>
                          <option value="2">Chevrolet</option>
                          <option value="3">Fiat</option>
                          <option value="4">Ford</option>
                          <option value="5">Honda</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="modelo">Modelo:</label>
                        <select class="custom-select">
                          <option selected>Modelo</option>
                          <option value="1">Uno</option>
                          <option value="2">Palio</option>
                          <option value="3">Gol</option>
                          <option value="4">Fox</option>
                          <option value="5">Siena</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="categoria">Categoria:</label>
                        <select class="custom-select">
                          <option selected>Categoria</option>
                          <option value="1">Utilitários esportivos‎ (171 P)</option>
                          <option value="2">Automóveis superesportivos‎ (4 C, 53 P)</option>
                          <option value="3">Segmentos de automóvel‎ (2 P)</option>
                          <option value="4">Automóveis desportivos‎ (6 C, 131 P)</option>
                          <option value="5">Minicarro‎ (17 P)</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="cor">Cor:</label>
                        <select class="custom-select">
                          <option selected>Cor</option>
                          <option value="1">Prato</option>
                          <option value="2">Preto</option>
                          <option value="3">Branco</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="tipo-veiculo">Tipo do Veículo:</label>
                        <select class="custom-select">
                          <option selected>Tipo de Veículo</option>
                          <option value="1">Carro de luxo</option>
                          <option value="2">Veículo utilitário esportivo</option>
                          <option value="3">Supermini</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="descricao-multa">Descrição da Multa:</label>
                        <textarea class="form-control" id="descricao-multa" aria-describedby="id"></textarea>
                      </div>
                    </div>
                    <!--<div class="row">
                    </div>-->
                    <!--<div class="row">
                    </div>-->
                    <!--<div class="row">
                    </div>-->
                    <!--<div class="row">
                    </div>-->
                    <!--<div class="row">
                    </div>-->
                    <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="nav-relatorio" role="tabpanel" aria-labelledby="nav-relatorio-tab">
                Teste
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
