<div class="container-fluid header-sistema">
        <div class="container">
            <div class="row">
                <div class="col-md-4 logo">
                    <!-- <h3>Stan Sistema de Frotas</h3> -->
                    <img src="../../../assets/img/logo.png">
                </div>
                <div class="col-md-8 menu">
                    <img src="../../../assets/img/bell.png">
                    <a href="/admin"><img src="../../../assets/img/home.png"></a>
                    <img src="../../../assets/img/logout.png">
                </div>
            </div>
        </div>
    </div>