.header-sistema .menu{text-align: right; padding-top: 2%;}
.header-sistema .menu img{width: 25px; margin-left: 2.5%; }
.header-sistema .logo img{width: 50%;}
.header-sistema{box-shadow: 0px 4px 5px var(--corum);}