<app-header-sistema></app-header-sistema>
<div class="container motoristas">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          <img src="../../../assets/img/add-usuario.png"> Motorista
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <nav class="menu-opcoes">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-form-tab" data-toggle="tab" href="#nav-form" role="tab"
                    aria-controls="nav-form" aria-selected="true">Novo
                    Motorista</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-dados" role="tab"
                    aria-controls="nav-dados" aria-selected="false">Dados do Motorista</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-relatorio" role="tab"
                    aria-controls="nav-relatorio" aria-selected="false">Relatório</a>
                </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-form" role="tabpanel" aria-labelledby="nav-home-tab">
                  <form [formGroup]="motoristaForm" id="form">
                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="id">ID:</label>
                        <input [(ngModel)]= "id" type="text" class="form-control" id="id" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-9">
                        <label for="cpf">CPF:</label>
                        <input [(ngModel)]= "cpf" type="email" class="form-control" id="cpf" aria-describedby="cpf">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="nome">Nome Completo</label>
                      <input [(ngModel)]= "nome" type="text" class="form-control" id="nome" aria-describedby="nome">
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="telefone">Telefone:</label>
                        <input [(ngModel)]= "telefone" type="tel" class="form-control" id="telefone" aria-describedby="id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="celular">Celular:</label>
                        <input [(ngModel)]= "celular" type="tel" class="form-control" id="celular" aria-describedby="cpf">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="endereco">Endereço:</label>
                      <input [(ngModel)]= "endereco" type="text" class="form-control" id="endereco">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input [(ngModel)]= "email" type="email" class="form-control" id="email">
                    </div>
                    <div class="row">
                      <div class="form-group col-md-5">
                        <label for="cnh">CNH:</label>
                        <input [(ngModel)]= "cnh" type="text" class="form-control" id="cnh" aria-describedby="cnh">
                      </div>
                      <div class="form-group col-md-7">
                        <div class="form-group form-check">
                          <label>Sexo:</label>
                          <div class="row">

                            <div class="col-md-2">
                              <input class="form-check-input" type="radio" name="feminino" id="feminino"
                                value="feminino" checked>
                              <label class="form-check-label" for="feminino">
                                Feminino
                              </label>
                            </div>
                            <div class="col-md-2">
                              <input class="form-check-input" type="radio" name="masculino" id="masculino"
                                value="masculino">
                              <label class="form-check-label" for="masculino">
                                Masculino
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="nav-dados" role="tabpanel" aria-labelledby="nav-dados-tab">
                  Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat
                  qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam
                  sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure
                  incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do
                  nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
                  Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore.
                  Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                </div>

                <!--PAGINA RELATÓRIO-->
                <div class="tab-pane fade" id="nav-relatorio" role="tabpanel" aria-labelledby="nav-relatorio-tab">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Motorista</th>
                        <th scope="col">Veículo Conduzido</th>
                        <th scope="col">Quantidade de Multas</th>
                        <th scope="col">Rotas Percorridas</th>
                        <th scope="col">Data da Rota</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Flávio Novais</td>
                        <td>Veículo CPF0669</td>
                        <td>1</td>
                        <td>101</td>
                        <td>20/01/2018</td>
                        <td>OK</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
