.formulario-login{width: 50%; border: 1px solid #BEBEBE; border-radius: 10px; margin-left: auto; margin-right: auto; padding: 10px; margin-top: 5%;}
.header-form{text-align: center}
.header-form img{width: 300px;}
.btn_login{background: var(--cortres); border: none; }