<div class="container-fluid footer">
    <div class="container">
        <div class="row">
        <div class="col-md-3 logo">
            <img src="../../../assets/img/logo.png">
        </div>
        <div class="col-md-9">
            <div class="redes">
                <img src="../../../assets/img/inst.png">
                <img src="../../../assets/img/face.png">
                <img src="../../../assets/img/link.png">
                <img src="../../../assets/img/what.png">
            </div>
        </div>
    </div>
    </div>
</div>
