<div class="container-fluid contato" id="contato">
    <div class="container">
        <div class="col-md-6">
        <form>
            <h3>Fale Conosco:</h3>
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" placeholder="Seu nome">
            </div>
            <div class="form-group">
                <label>Telefone:</label>
                <input type="tel" class="form-control" placeholder="Seu telefone" >
            </div>
            <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" placeholder="Seu email" >
                    <small class="form-text text-muted">Não divulgaremos seu email com ninguém.</small>
                </div>
            <div class="form-group">
                    <label for="">Assunto:</label>
                    <select class="form-control" id="">
                      <option>Versão de teste gratuita</option>
                      <option>Problemas para acessar o site</option>
                      <option>Quero comprar</option>
                      <option>Quero falar com o Comercial</option>
                    </select>
            </div>
            <div class="form-group">
                <label>Mensagem:</label>
                <textarea class="form-control"></textarea>

            </div>
            <button class="btn btn-finalizar">Enviar</button>
        </form>
    </div>
    </div>
</div>
