<app-header-sistema></app-header-sistema>
<div class="container viagem">
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    <img src="../../../assets/img/viagem.png"> Viagem
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="menu-opcoes">
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-form-tab" data-toggle="tab"
                                        href="#nav-form" role="tab" aria-controls="nav-form"
                                        aria-selected="true">Cadastrar Viagem</a>
                                    <!-- <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-dados" role="tab" aria-controls="nav-dados"
                                        aria-selected="false">Dados do Abastecimento</a> -->
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-relatorio" role="tab" aria-controls="nav-relatorio"
                                        aria-selected="false">Relatório</a>
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-form" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <form [formGroup]="viagemForm" id="form">
                                        <div class="row">
                                            <div class="form-group col-md-2">
                                                <label for="id_viagem">Id:</label>
                                                <input [(ngModel)]= "id" type="text" class="form-control" id="id_viagem"
                                                    aria-describedby="id">
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label for="data-retirada">Data da retirada:</label>
                                                <input [(ngModel)]= "data-retirada" type="date" class="form-control" id="data-retirada"
                                                    aria-describedby="id">
                                            </div>

                                            <div class="form-group col-md-5">
                                                <label for="data-entrega">Data da entrega:</label>
                                                <input [(ngModel)]= "data-entrega" type="date" class="form-control" id="data-entrega"
                                                    aria-describedby="id">
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <label for="diametro">Motorista:</label>
                                            <input [(ngModel)]= "diametro" type="text" class="form-control" id="largura" aria-describedby="id">
                                        </div>
                                        <div class="form-group">
                                            <label for="ocupante">Ocupante:</label>
                                            <select class="custom-select">
                                                <option selected>Ocupante</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>

                                        <div class="row">

                                            <div class="form-group col-md-6">
                                                <label for="origem">Origem:</label>
                                                <input [(ngModel)]= "origem" type="text" class="form-control" id="origem"
                                                    aria-describedby="id">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="destino">Destino:</label>
                                                <input [(ngModel)]= "destino" type="text" class="form-control" id="destino"
                                                    aria-describedby="id">
                                            </div>

                                        </div>




                                        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
                                    </form>
                                </div>

                                <div class="tab-pane fade" id="nav-relatorio" role="tabpanel"
                                    aria-labelledby="nav-relatorio-tab">
                                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat
                                    qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam
                                    sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure
                                    incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do
                                    nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
                                    Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore.
                                    Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>