<header>
    <app-header></app-header>
</header>
<div class="banner" id="home">
    <img src="../../../assets/img/carros-banner.jpg" />
    <div class="row texto-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 logo-banner">

                </div>
                <div class="col-md-6 sobre-banner">
                    <h2>O que é Gestão de Frotas?</h2>
                    <p>Não sabe o que é gestão de frotas?</p><br>
                    <p>Eu também não sabia...</p>
                    <p>Quando e necessário cuidar do gerenciamento de veículos em determinadas empresas elas costumam
                        usar um sistema que cuide de toda a parte de gerenciamento.</p><br>
                    <p>O gereciamento se baseia em controlar o combustível, quilometragem, manutenção o estado de cada
                        veículos</p><br>
                    <p>Tendo um bom gerenciamento dos seus veículos de grande, médio e até os de pequno porte, você
                        consegue controlar custos, prevenir problemas futuros e ter a certeza de que os recursos de sua
                        empresa estão em boas mãos.</p>
                </div>
                <div class="borda1"></div>
            </div>
        </div>
    </div>
</div>
<app-sobre></app-sobre>
<app-planos></app-planos>
<app-contato></app-contato>
<footer>
    <app-footer></app-footer>
</footer>