<!--
  File: sinistros.component.html
  Author: Carol Freitas
  Create Date: 19/10/2019
  Description: Responsável por mostrar dados da tela de Sinistros.
-->

<app-header-sistema></app-header-sistema>
<div class="container sinistros">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
      <img src="../../../assets/img/sinistros.png"> Sinistros
      </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <nav class="menu-opcoes">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-form-tab" data-toggle="tab"
                  href="#nav-form" role="tab" aria-controls="nav-form" aria-selected="true"></a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"  href="#nav-relatorio" role="tab" aria-controls="nav-relatorio"
                  aria-selected="false">Relatório</a>
                </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-form" role="tabpanel" aria-labelledby="nav-home-tab">
                  <form id="form">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="">:</label>
                      <input type="text" class="form-control" id="diametro" aria-describedby="id">
                    </div>
                    <div class="form-group col-md-6">
                      <label for=""></label>
                      <input type="text" class="form-control" id="tamanho" aria-describedby="id">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="">:</label>
                      <input type="text" class="form-control" id="largura" aria-describedby="id">
                    </div>
                    <div class="form-group col-md-6">
                      <label for=""></label>
                      <input type="text" class="form-control" id="indice-carga" aria-describedby="id">
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="nav-relatorio" role="tabpanel" aria-labelledby="nav-relatorio-tab">
                  Teste
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
