<div class="container planos" id="planos">
    <div class="row">
        <div class="col-md-4 ">
            <div class="div-planos">
                <div class="titulo-plano">
                    <h3 id="planos-compra">100 Veículos</h3>
                </div>
                <div class="descricao-plano">
                    <ul>
                        <li>Armazenamento de dados</li>
                        <li>Usuários</li>
                        <li>Histórico permanente</li>
                        <li>Suporte Telefônico </li>
                        <li class="not">Voice Driver</li>
                        <li class="not">Fast Parking</li>
                        <li class="not">Treinamento</li>
                    </ul>
                </div>
                <div class="preco-plano">
                    <h2>R$ 2999,99/MÊS</h2>
                    <!-- <p>Por mês</p> -->
                </div>
                <button class="btn btn-orcamento">Peça um orçamento</button>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="div-planos">
                <div class="titulo-plano">
                    <h3 id="planos-compra">350 Veículos</h3>
                </div>
                <div class="descricao-plano">
                    <ul>
                      <li>Armazenamento de dados</li>
                      <li>Usuários</li>
                      <li>Histórico permanente</li>
                      <li>Suporte Telefônico </li>
                      <li>Voice Driver</li>
                      <li>Fast Parking</li>
                      <li class="not">Treinamento</li>
                    </ul>
                </div>
                <div class="preco-plano">
                    <h2>R$ 4999,99/MÊS</h2>
                    <!-- <p>Por mês</p> -->
                </div>
                <button class="btn btn-orcamento">Peça um orçamento</button>
            </div>
        </div>
        <div class="col-md-4 ">
          <div class="div-planos">
              <div class="titulo-plano">
                  <h3 id="planos-compra">600 Veículos</h3>
              </div>
              <div class="descricao-plano">
                  <ul>
                    <li>Armazenamento de dados</li>
                    <li>Usuários</li>
                    <li>Histórico permanente</li>
                    <li>Suporte Telefônico </li>
                    <li>Voice Driver</li>
                    <li>Fast Parking</li>
                    <li>Treinamento</li>
                  </ul>
              </div>
              <div class="preco-plano">
                  <h2>R$ 5999,99/MÊS</h2>
                  <!-- <p>Por mês</p> -->
              </div>
              <button class="btn btn-orcamento">Peça um orçamento</button>
          </div>
      </div>
      <div>
      <br><h3 class="sobre-h3">Voice Driver</h3>
      <p>Um hardware que servirá como um copiloto para o motorista, o pequeno
      aparelho é inserido no veículo e se comunica com um sistema de roteirização,
      sem necessidade de internet ele emite alertas de contingência quando o
      motorista se desviar de sua rota e avisa quando houver alterações
      recomendadas no percurso. O hardware funciona com um comando de voz, ou
      seja, não a necessidade de o motorista tirar suas mãos do volante.
      </p>
      <h3 class="sobre-h3">Fast Parking </h3>
      <p>É um hardware que agiliza o trajeto do motorista como um “Sem Parar”,
      liberando cancelas de estacionamentos e passando por pedágios, podendo
      assim chegar mais rápido ao cliente que irá atender e sem a necessidade de
      sair do veículo. O hardware é ligado ao veículo e possui uma conexão com o
      sistema que se localiza na central, neste caso o software Stan
      automaticamente contabilizar o gasto enviando para parte de finanças do
      sistema, podendo assim gerar relatórios de custo.
      </p>
    </div>
    </div>
</div>
