.planos{
  padding: 2% 0px;
}
.div-planos{box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}
.titulo-plano{
  padding:8px 0px;
  background-color: var(--cortres);
}
.titulo-plano,.preco-plano{
  text-align: center
}
.descricao-plano{
  padding: 6% 0px;
}
.descricao-plano ul{
  list-style-image: url(../../../assets/img/check.png);
  padding-left: 25%;
}
.not{
  list-style-image: url(../../../assets/img/not-check.png);

}
.btn-orcamento{
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 4%;
  border: 2px solid #00BFFF;
  border-radius: 0px;
  background-color: #fff;
}
.sobre-h3{
  color: #56c0ff;
  position: relative;
  // font-family: Comic Sans MS, Comic Sans, cursive;
}
