<div class="container menu">
    <div class="row">
        <div class="col-md-2">
            <div class="item-menu">
                <a href="/admin/usuarios">
                    <img src="../../../assets/img/user.png">
                    <p>Usuários</p>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <a href="/admin/motoristas">
                    <img src="../../../assets/img/motoristas.png">
                    <p>Motoristas</p>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <a href="/admin/veiculos">
                    <img src="../../../assets/img/carros.png">
                    <p>Veículos</p>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <a href="/admin/pneus">
                    <img src="../../../assets/img/pneus.png">
                    <p>Pneus</p>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <a href="/admin/manutencao">
                    <img src="../../../assets/img/manutencao.png">
                    <p>Manutenções</p>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <a href="/admin/abastecimento">
                    <img src="../../../assets/img/abastecimento.png">
                    <p>Abastecimentos</p>
                </a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="item-menu">
                <img src="../../../assets/img/quilometragem.png">
                <p>Quilometragem</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <img src="../../../assets/img/multas.png">
                <p>Multas</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <img src="../../../assets/img/monitoramento.png">
                <p>Monitoramento</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <a href="admin/viagem">
                    <img src="../../../assets/img/viagem.png">
                    <p>Viagens</p>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <img src="../../../assets/img/sinistros.png">
                <p>Sinistros</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <img src="../../../assets/img/financas.png">
                <p>Finanças</p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="item-menu">
                <img src="../../../assets/img/estoque.png">
                <p>Estoque de peças</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <a href="/admin/reservas">
                    <img src="../../../assets/img/reservas.png">
                    <p>Reservas</p>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <img src="../../../assets/img/help.png">
                <p>Ajuda</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item-menu">
                <img src="../../../assets/img/configuracao.png">
                <p>Configuração</p>
            </div>
        </div>

    </div>
</div>