<div class="container-fluid topo">
    <div class="container ">
        <div class="row">
        <div class="col-md-3 logo-topo"> <img src="../../../assets/img/logo.png">
            <!-- <h2 style="color: var(--cortres)"></h2> -->
        </div>

        <div class="col-md-9">
            <nav class="navbar navbar-default navbar-expand-lg hidden-md-down">
                <div id="barra-navegacao">
                    <ul class="nav mr-auto">
                        <li class=""><a href="#home">Home</a></li>
                        <li class=""><a href="#sobre">Sobre</a></li>
                        <li class=""><a href="#planos">Planos</a></li>
                        <li class=""><a href="#contato">Contato</a></li>
                        <li class="li_login"><a href="/admin">Login</a></li>
                    </ul>
                </div>
            </nav>
            <!-- <button id="menu-toggle" class="hidden-md-up"></button> -->
        </div>
        </div>
    </div>
</div>
