.topo{padding: 5px 0px; background-color: var(--cordois); position: fixed; z-index: 1; box-shadow: 0px 4px 5px var(--corum);}
.logo-topo img{width: 70%;}
#barra-navegacao{width: 100%; padding-top: 3%; }
#barra-navegacao li{margin-left: 6%; float: center; float: right;}
#barra-navegacao li a{color: #000; text-decoration: none}
#barra-navegacao .li_login{margin-left: 46%; font-weight: bold}
