/* You can add global styles to this file, and also import other style files */

*{font-family: Arial, Helvetica, sans-serif}
*{
    --corum:#8B8989;
    --cordois: #FFF;
    --cortres: #50C2FD;
}
.btn-salvar{background: var(--cortres); border: none; margin-bottom: 2%;}

.card-header, .card-body{background: #fff; border: 1px solid var(--corum)}
.card img{width: 35px;}
.card a{color: var(--cortres); }

form{padding-top: 2%;}

#nav-relatorio{text-align: center;}
#nav-relatorio td{border:2px solid #dee2e6;}

